<!DOCTYPE html>
<html>
<head>
  <title>Langy the Language Tutor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
  <header>
    <h1>Langy the Language Tutor</h1>
  </header>

  <div class="container">
    <h2>Hello! I'm Langy the Language Tutor!</h2>
    <p>Have a conversation with Langy to improve your speaking skills and recieve feedback to help your language learning!</p>

    <label for="Language">Supported Languages</label>
    <li><a href="/english-tutor">English</a></li>
    
  </div>
</body>
</html>